<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- layout:decorator="layout/default"  -->

<head>
<title>Login</title>
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
	<!-- MetisMenu CSS -->
	<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">
	
	<!-- Morris Charts CSS -->
	<link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">
	
	<!-- Custom Fonts -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<body>

</body>
</html>