<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.himna.sb.member.dao.MemberDao">
    <select id="getMember" parameterType="java.lang.String" resultType="me.himna.sb.member.domain.MemberDomain">
        SELECT 
        	* 
		FROM TBL_MEMBER 
		WHERE login_id = #{login_id}
    </select>
    
    <select id="getMemberById" parameterType="java.lang.Integer" resultType="me.himna.sb.member.domain.MemberDomain">
    	SELECT
    		*
    	FROM TBL_MEMBER
    	WHERE id = #{id}
    </select>
    
    
    <insert id="memberJoin" parameterType="me.himna.sb.member.domain.MemberDomain">
    	INSERT INTO TBL_MEMBER(
    		login_id, 
    		login_password
    	) VALUES (
    		#{login_id}, 
    		#{login_password}
    	)
    </insert>
    
    <select id="getLoginId" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT COUNT(*) 
    	FROM TBL_MEMBER 
    	WHERE login_id=#{id}
    </select>
</mapper>