<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="main_body">
    <div class="wrapper">
        <div layout:fragment="content">
		</div>
    </div>
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <!-- Morris Charts JavaScript -->
    <script th:src="@{/vendor/raphael/raphael.min.js}"></script>
    <!-- <script src="vendor/morrisjs/morris.min.js"></script> -->
    <!-- <script src="data/morris-data.js"></script> -->
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/dist/js/sb-admin-2.js}"></script>

	<!-- custom_js -->
    <th:block layout:fragment="custom_js"></th:block>
</body>
</html>