<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      	layout:decorator="layout/default" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:fragment="custom_title">Index Test</title>
<style type="text/css" layout:fragment="custom_css">
/* CUSTOM CSSv*/
</style>
</head>
<body>

<div class="page-wrapper" layout:fragment="content">
<!-- CUSTOM CONTENT -->
INDEX
</div>

<script type="text/javascript" layout:fragment="custom_js">
/* CUSTOM JAVASCRIPT */
</script>
</body>
</html>